@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./base/base.scss";
@import "./pages/menu";
@import "./layouts/header";
@import "./layouts/footer";
@import "./utils/bp";
@import "./components/loader";



main{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.location {
  z-index: 4;
  @include flexcenter;
  color: #494949;
  height: 50px;
  background-color: #eaeaea;
  @include tablet{
    font-size: 18px;
  }
  &__text {
    font-weight: 700;
    @include tablet{
      font-size: 18px;
    }
  }
  &__icon {
    position: relative;
    right: 20px;
    bottom: 3px;
    font-size: 17px;
  }
}

.intro {
  @include flexcenter;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px 55px 20px;
  background-color: $background;
  text-align: center;
  @include desktop{
    border-radius: 0px 0px 25px 25px;
  }
  &__text {
    color: #656565;
    font-size: 18px;
    width: 100%;
  }
  &__btn {
    width: 240px;
    height: 50px;
    color: white;
    background: linear-gradient(to bottom right, $secondary, $primary);
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-family: roboto;
    &:hover {
      background: linear-gradient(to bottom right, $primary, $secondary);
    }
  }
}

.process {
  margin: 40px 0px;
  padding-bottom: 30px;
  &__menu{
    @include tablet{
      @include flexcenter;
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    background-color: $background;
    margin: 0 40px;
    border-radius: 20px;
    padding: 27px;
    column-gap: 20px;
    max-width: 420px;
    @include boxshadow;
    font-weight: 700;
    font-size: 16px;
    @include tablet{
      @include flexcenter;
      width: 420px;
    }
    &:hover {
      background-color: #f5edff;
      transition: ease 0.5s;
    }
    &:hover .process__icon {
      color: $primary;
    }
  }
  &__nbr {
    @include flexcenter;
    position: relative;
    top: 50px;
    left: 28px;
    background-color: $primary;
    color: white;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    font-size: 14px;
    @include tablet{
     top: 12px;
     left: 0px;
    }
  }
  &__icon {
    color: gray;
    font-size: 18px;
  }
}

.body__h1 {
  font-weight: 900;
  width: 80%;
}

.body__h2 {
  font-weight: 900;
  margin-left: 24px;
  margin-bottom: 20px;
}

.restaurant {
  background-color: $background;
  padding-top: 50px;
  padding-bottom: 70px;
  @include desktop{
    border-radius: 25px 25px 0px 0px;
  }
  &__list {
    @include flexcenter;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    @include desktop{
      padding: 0px 40px;
    }
  }
  &__card {
    width: 340px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    @include boxshadow;
    text-decoration: none;
    color: black;
    @include desktop{
      width: 400px;
      margin: 20px;
    }
  }
  &__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    object-position: 0% 100%;
  }
  &__text {
    margin-left: 15px;
    margin-top: 4px;
    font-size: 17px;
  }
  &__new {
    @include flexcenter;
    position: relative;
    bottom: 210px;
    left: 240px;
    font-size: 15px;
    font-weight: 500;
    background-color: $tertiary;
    color: #008766;
    height: 30px;
    width: 85px;
    @include desktop{
      left: 300px;
    }
  }
  &__heart {
    z-index: 0;
    font-size: 24px;
    position: relative;
    left: 250px;
    bottom: 40px;
    transition: all 400ms;
    cursor: pointer;
    &:hover + .restaurant__heartlike {
      display: block;
    }
  }
  &__heartlike {
    display: none;
    font-size: 24px;
    position: relative;
    left: 277px;
    bottom: 40px;
    color: $secondary;
    z-index: 1;
  }
}

#lanote-img {
  object-position: 0% 62%;
}

.body__h3 {
  margin-left: 15px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 900;
}