.menu {
  background-color: $background;
  border-radius: 30px 40px 0px 0px;
  position: relative;
  bottom: 55px;
  padding: 30px 20px;
  height: auto;
  margin-bottom: -55px;

  &__img {
    width: 100%;
  }

  &__intro {
    display: flex;
    justify-content: space-between;
  }

  &__h1 {
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: lighter;
  }

  &__h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
  }

  &__h3 {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
  }

  &__underline {
    width: 40px;
    border-top: 3px solid $tertiary;
    margin: 5px 0px 15px 0px;
  }

  &__box {
    display: grid;
    row-gap: 18px;
    margin-bottom: 10px;
  }

  &__card {
    background-color: white;
    border-radius: 15px;
    @include boxshadow;
    @include flexcenter;
    overflow: hidden;
    justify-content: space-between;
    height: 65px;
    row-gap: 5px;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    min-width: 10%;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: 1s / 4 * $i;
      }
    }
    &:hover .menu__checkbox{
      @include flexcenter;
      margin-right: 0;
    }
    &:hover .menu__check{
      transform: rotate(360deg);
    }
  }
  &__text{
    width: 100%;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    height: 40px;
    font-size: 15px;
    font-weight: 800;
    color: #353535;
    padding: 0 15px; 
  }

  &__info {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__btn {
    @include flexcenter;
    margin: 50px 80px 50px 80px;
  }
}


@keyframes slide-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}