.restaurant{
    &__heartgroup{
      @include flexcenter;
      margin-right: 15px;
    }
    &__heart {
        font-size: 24px;
        position: relative;
        transition: all 0.2s;
        z-index: 2;
        cursor: pointer;
        &:hover{
          filter: opacity(0);
        }
        &:hover + .restaurant__heartlike {
          transform: scale(1.1);
          opacity: 1;
        }
      }
      &__heartlike {
        transform: scale(0);
        font-size: 24px;
        position: absolute;
        color: $secondary;
        opacity: 0;
      }
}