@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animloader {
      50% {
        transform: scale(1) translate(-50%, -50%);
  }
  }

  @keyframes load {
    0%{
        opacity: 1;
        z-index: 10000;
    }       
    95%{
        opacity: 1;  
        z-index: 10000; 
    }       
    100%{
        opacity: 0;
    }
    }
    
    
    .loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    animation: load 2.5s linear;
    opacity: 0;
    z-index: -10000;
  }
  
  .loader {
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 48px;
    height: 48px;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after, .loader::before {
    content: '';  
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: $primary;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  .loader::before {
    background-color: $secondary;
    transform: scale(0.5) translate(-48px, -48px);
  }